<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <appSettings>
    <!--<add key="assembly" value="AdoDataLayer"/>
    <add key="typeName" value="AdoDataLayer.AdoDbLayer"/>-->
    <add key="assembly" value="EfDataLayer"/>
    <add key="typeName" value="EfDataLayer.EfDbLayer"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
    </startup>
  <connectionStrings>
    <add name="EfDataModel" connectionString="data source=.;initial catalog=SchoolDB-ByConnectionString;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>